<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Readers</title>

    <!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  </head>
  <body>
	<div th:replace="layouts/header"></div>

	<div class="container-fluid">
	  <div class="row">
	  	<div th:replace="layouts/sidebar"></div>
	    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	    	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		        <h1 class="h2">Lista de Readers</h1>
		        <div class="btn-toolbar mb-2 mb-md-0">
			          <a href="/centrog/readers/add-update" class="btn btn-sm btn-outline-secondary">
			          	+ Agregar
			          </a>
		        </div>
		      </div>
		      <div th:if="${param.error}" class="alert alert-danger" role="alert">
		      	¡No se puede eliminar!
	         </div>
	    	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Opciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="readers : ${Readers}">
			      <th scope="row" th:text="${readers.id}"></th>
			      <td scope="row" th:text="${readers.name}"></td>
			      <td scope="row">
			      	<a th:href="${'/centrog/readers/update/' + readers.id}">Editar</a>
			      	|
			      	<a th:href="${'/centrog/readers/delete/' + readers.id}">Borrar</a>
			      </td>
			    </tr>
			  </tbody>
			</table>
	    </main>
	  </div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
